@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500;600&display=swap');

/* Accordion Button */
.accordion {
  width: 100%;
  border: 0;
  height: 50px;
  text-align: left;
  padding: 20px;
  background-color: antiquewhite;
  cursor: pointer;
}
.accordion:hover {
  background-color: rgb(218, 194, 165);
}
.accordionTitle {
  font-size: 0.8rem;
  font-weight: bold;
}

/* Accordion Content */
div.accordionText {
  padding: 20px;
  font-weight: 500;
}
